option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M
    zlib.output_compression: "Off"
    allow_url_fopen: "On"
    display_errors: "Off"
    max_execution_time: 60
    composer_options: --optimize-autoloader --no-dev

  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: false
    COMPOSER_HOME: /root
    
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public/js: js
    /public/css: css
    /public/img: img

commands:
  01_update_composer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

container_commands:
  01_install_dependencies:
    command: "composer install --optimize-autoloader --no-dev"
  02_clear_config:
    command: "php artisan config:clear"
    leader_only: true
  03_storage_permissions:
    command: "chmod -R 775 storage bootstrap/cache"
  04_copy_env:
    command: "cp .env.example .env"
    leader_only: true