option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M

container_commands:
  01_install_dependencies:
    command: "composer install --optimize-autoloader --no-dev"
  02_storage_permissions:
    command: "chmod -R 775 storage bootstrap/cache"
  03_copy_env:
    command: "cp .env.example .env"
    leader_only: true