option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: false
    APP_KEY: base64:jDqJrNEmb2I3mcAFI/vDMpEabqx7txlharpQCg+DJ2E=
    LOG_CHANNEL: stderr

container_commands:
  01_permissions:
    command: |
      sudo chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache
  02_optimize:
    command: |
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
